= form_for orga do |f|
  - if orga.persisted?
    = hidden_field_tag :secret, params[:secret]

  - if orga.errors.any?
    #flash-messages
      - orga.errors.full_messages.each do |msg|
        %p.flash.alert= msg

  .field.kind.required
    = f.label :kind
    %span.radios
      - Kind.find_each do |kind|
        = f.radio_button :kind_id, kind.id, required: true
        = f.label "kind_id_#{kind.id}" do
          %em.fa{ class: "fa-#{kind.icon}" }
          = t "#{kind.name}_html", scope: 'activerecord.attributes.kind/name'
  .field.name.required
    = f.label :name
    = f.text_field :name, required: true
  .field.place_name
    = f.label :place_name
    = f.text_field :place_name
  .helper
    :markdown
      #{t '.address_helper_html'}
  .field.address
    = f.label :address
    = f.text_field :address
  .field.city
    = f.label :city
    = f.text_field :city, list: :cities
    %datalist#cities
      - Event.group(:city).order('1 desc').count.each do |r|
        %option= r[0]
  .field.region.required
    = f.label :region, for: "orga_region_id_#{params[:region]}"
    = render partial: '/regions/selector', locals: { f: f }

  .field.description{ title: t('.description_helper') }
    = f.label :description
    = f.text_area :description, class: :description

  .field.url.required{ title: t('.url_helper') }
    = f.label :url
    = f.url_field :url, required: true, placeholder: 'Ex: https://april.org'
  - if orga.try(:diaspora?)
    .field.diaspora
      = f.label :diaspora
      = f.url_field :diaspora
  .field.feed{ title: t('.feed_helper') }
    = f.label :feed
    = f.url_field :feed, placeholder: 'Ex: https://april.org/index.rss'
  .field.contact{ title: t('.contact_helper') }
    = f.label :contact
    = f.email_field :contact
  .field.submitter{ title: t('.submitter_helper') }
    = f.label :submitter
    = f.email_field :submitter

  .field.tags{ title: t('.tags_helper') }
    = f.label :tags, for: 'orga_tag_list_tag'
    = f.text_field :tag_list, value: f.object.tag_list.join(' ')

  .field.active
    = f.label :active
    = f.check_box :active

  .actions
    = f.button formaction: url_for(action: orga.new_record? ? :preview_create : :preview) do
      %em.fa.fa-eye
      = t '.visualise'
    = f.button do
      %em.fa.fa-check
      = t '.save'
