@media (prefers-color-scheme: dark){body{background-color:black}header.top,footer.bottom{color:lightgray}header.top input,footer.bottom input{color:white}header.top a:link,header.top a:visited,footer.bottom a:link,footer.bottom a:visited{color:skyblue;text-shadow:0 0 4px black;text-decoration:none}header.top a:hover,header.top a:active,header.top a:focus,footer.bottom a:hover,footer.bottom a:active,footer.bottom a:focus{color:lightcyan}img{opacity:.75;transition:opacity .5s ease-in-out}img:hover{opacity:1}}
