img.favicon{max-height:2em;border-radius:3px;vertical-align:middle}form#orga_search{display:inline}form#orga_search em.fa{color:#258}form#orga_search input{width:14em;border:solid thin #258;padding:0;margin-right:-1.6em;padding-right:1.2em;border-radius:0.4em}form#orga_search button.search{color:#258;border:none;padding:0;font-size:large;box-shadow:none;margin-top:-0.1em;margin-left:0;margin-right:1em;vertical-align:middle;background-color:transparent}form#orga_search button.search:hover em.fa{color:#2E97FF}form#orga_search button.search span.label{display:none}table tr.inactive{color:gray}
