body.stats h3{text-align:center}body.stats dl{width:40em}body.stats dt{min-width:50%}body.stats dt+dd+dt+dd{border-top:1px solid #999}table.list.dates{width:100%}table.list.dates thead th{height:3em;padding:0 !important;font-size:initial;transform:rotate(-45deg)}table.list.dates tbody th:first-child{font-size:large;text-align:right}table.list.dates tbody td{padding:0}table.list.dates tbody td a{display:block}table.list.dates tfoot td canvas{width:100% !important;background-color:white}table.list.dates .sparkline{padding:0}
