%ul.list.events#map
  %li
    = link_to maps_path format: :json do
      .awesome-marker.awesome-marker-icon-blue
        %i.icon-white.fa.fa-calendar
      - if params[:future] == 'false'
        = Event.model_name.human
      - else
        = t '.future'

  - cs = %w[blue red darkred orange green darkgreen purple darkpuple cadetblue]
  - idx = 1
  - Kind.find_each do |kind|
    %li
      = link_to map_path kind.name, format: :json do
        .awesome-marker{ class: "awesome-marker-icon-#{cs[idx % cs.length]}" }
          %i.icon-white.fa{ class: "fa-#{kind.icon}" }
        = t "#{kind.name}_html", scope: 'activerecord.attributes.kind/name'
      - idx += 1
