= render '/regions/filter'

%ul.list.feeds#map
  - cs = %w[red darkred orange green darkgreen purple darkpuple cadetblue]
  - idx = 0
  - Kind.find_each do |kind|
    - next unless params[:q].nil? || params[:q][:kind_id_eq].nil? || params[:q][:kind_id_eq] == kind.id.to_s

    %li
      = link_to map_path kind.name, format: :json do
        .awesome-marker{ class: "awesome-marker-icon-#{cs[idx % cs.length]}" }
          %em.icon-white.fa{ class: "fa-#{kind.icon}" }
        = t "#{kind.name}_html", scope: 'activerecord.attributes.kind/name'
      - idx += 1
