%h2= t('.forgot_your_password')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: 'email'
  .actions
    = f.submit t('.send_me_reset_password_instructions')
= render 'devise/shared/links'
