%li.event{ title: display_date(event), class: event.tags.join(' ') }
  - if event.locality?
    %em.locality.fa.fa-globe
  = link_to event do
    %strong.city{ title: event.address }= event.city || event.region
    = event.title
    - if event.repeat&.positive?
      %em.fa.fa-redo-alt{ title: event.schedule }
