- if params[:year]
  %header.calendar-heading.year
    = link_to '<<', { year: params[:year].to_i - 1 },
              'aria-label': t('simple_calendar.previous', default: 'Previous')
    %h2.calendar-title= params[:year]
    = link_to '>>', { year: params[:year].to_i + 1 },
              'aria-label': t('simple_calendar.next', default: 'Next')

  - (1..12).each do |i|
    - params[:start_date] = "#{params[:year]}-#{i}-01"

    = month_calendar do |date|
      - capture_haml do
        .day_number= date.day
        %ul.events.fa-ul= render month_events(@events, date)

- else
  -# One month calendar
  = month_calendar events: @events do |date, events|
    - capture_haml do
      .day_number= date.day
      %ul.events.fa-ul= render events

.links
  - p = params.permit :city, :region, :tag, near: {}
  = t '.calendar_in_html',
      rss: link_to('RSS', p.merge(format: :rss)),
      webcal: link_to('webcal',
                      events_url(protocol: 'webcal', format: :ics, params: p)),
      ical: link_to('iCal', p.merge(format: :ics))

:plain
  #{t '.banner_html', default: ''}

- events_meta
