%h2
  %em.fa.fa-edit
  = title t '.title'

- if @event.description
  %fieldset
    %legend
      %em.fa.fa-eye
      = t '.preview'
    = render template: '/events/show'

- else
  :markdown
    #{t '.subtitle'}

  #advises
    :markdown
      #{t '.advises'}

%fieldset
  %legend
    %em.fa.fa-plus
    = t '.edit'
  = render 'form', event: @event
