:ruby
  require 'icalendar/tzinfo'

  # Create a calendar with one event
  cal = Icalendar::Calendar.new
  tzid = @event.region.tzid || 'Z'
 
  # Declare the timezone if it's not already in the calendar
  if cal.timezones.none? { |t| tzid == t.tzid }
    # Only add this zone once
    begin
      tz = TZInfo::Timezone.get tzid
      timezone = tz.ical_timezone @event.start_time
      cal.add_timezone timezone
    rescue TZInfo::InvalidTimezoneIdentifier
      puts "Invalid timezone identifier: #{tzid}"
    end
  end

  cal.event do |e|
    e.dtstamp   = Icalendar::Values::DateTime.new @event.decision_time, tzid: tzid
    e.dtstart   = Icalendar::Values::DateTime.new @event.start_time, tzid: tzid
    e.dtend     = Icalendar::Values::DateTime.new @event.end_time, tzid: tzid

    e.uid         = "#{@event.id}@#{request.domain(3)&.remove 'www.'}"
    e.summary     = @event.title
    e.description = to_markdown @event.description
    e.location    = @event.full_address
    e.url         = @event.url
    e.organizer   = "mailto:#{@event.contact}"
    e.x_alt_desc  = Icalendar::Values::Text.new @event.description, FMTTYPE: 'text/html'
  end

  cal.publish

!= cal.to_ical
