!= t '.body', subject: @orga.name, author: @current_user || t('.submitter')

:ruby
  new = render template: '/orgas/show'

  former = @orga
  @orga = @orga.paper_trail.previous_version

  prev = render template: '/orgas/show'
  @orga = former

!= Diffy::Diff.new prev, new
\
= surround '<'.html_safe, '>'.html_safe do
  = edit_orga_url @orga
\
!= t '.signature'
