:markdown
  #{sanitize t '.content'}

%a(href="https://validator.w3.org/nu/?doc==#{root_url}")
  %img(src="https://validator.w3.org/images/w3c.png"
    width="110" height="61"
    alt="Markup Validation Service"
    title="Markup Validation Service")

%a(href="http://wave.webaim.org/report#/#{root_url}")
  %img(src="http://wave.webaim.org/img/wavelogo.png"
    alt="web accessibility evaluation tool"
    style='height: 60px; margin-left: 2em'
    title="web accessibility evaluation tool")
