%tr
  %th.orga{ title: actu.orga.tags.join(' ') }
    = link_to actu.orga do
      - if actu.orga.kind
        %em.fa{ class: "fa-#{actu.orga.kind.icon}",
                title: strip_tags(Kind.human_attribute_name("name_#{actu.orga.kind.name}_html")) }
      = actu.orga.name
      = render partial: '/orgas/favicon', locals: { orga: actu.orga }
  %th.title
    %h3= link_to actu.title, actu.link

%tr
  %td.meta
    = link_to actu.orga.feed, aria: { label: Orga.human_attribute_name(:feed) } do
      %em.fa.fa-rss
    %hr
    = actu.orga.region.name
    = flag_icon actu.orga.region.flag
    %hr
    = Actu.human_attribute_name :published_at
    %br
    = l actu.published_at, format: :long
    %hr
    = Actu.human_attribute_name :created_at
    %br
    = l actu.created_at, format: :long
  %td.description= display_actu_description actu
