%h2
  %em.fa.fa-tags
  = title t '.title'

- tag_cloud @tags.order(:name), %w[css1 css2 css3 css4] do |tag, css_class|
  = link_to tag.name, { action: :show, id: tag.name }, class: css_class

%p.info
  %em.fa.fa-info-circle
  = t '.threshold', threshold: Rails.configuration.cloud_threshold
