.simple-calendar
  %header.calendar-heading
    - if params[:year]
      %h3.calendar-title
        = link_to t('date.month_names')[start_date.month],
                  start_date: start_date.beginning_of_month

    - else
      = link_to '<<', calendar.url_for_previous_view,
                'aria-label': t('simple_calendar.previous', default: 'Previous')
      %h2.calendar-title
        = t('date.month_names')[start_date.month]
        = link_to start_date.year, root_path(year: start_date.year)
      = link_to '>>', calendar.url_for_next_view,
                'aria-label': t('simple_calendar.next', default: 'Next')

  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - instance_exec(day,
                              calendar.sorted_events_for(day),
                              &passed_block)
