.actus
  .title, .description
    width: 60em
    img
      max-width: 30%
    & > :nth-child(odd) img
      float: right
      clear: right
      margin-left: 1em
    & > :nth-child(even) img
      float: left
      clear: left
      margin-right: 1em

  .meta
    padding: 1em 0
    text-align: center
    vertical-align: top

  .title h3
    text-align: center

  .description
    padding: 0 1em
    max-width: 60em
