@import variables

@media (prefers-color-scheme: dark)
  body
    background: $dark5

    main#content:has(aside, h3#table-des-matires, h2#emem-contact, fieldset, form, h2.context)
      h2#recommandations
        color: $red
      #advises
        background-color: $dark3
        color: $light4
        border: 1px solid $red
      aside
        background-color: lighten($dark4, 5%)
        color: $light4
        box-shadow: none
        border: 1px solid lighten($dark4, 7%)
        h2
          color: $light4!important

    h1,h2
      color: lighten($light2, 0.70%)
    h3,h4,dl
      color: $light3
    p, center
      color: lighten($light2, 0.90%)
    div
      color: lighten($light2, 0.70%)
    fieldset
      box-shadow: none
    li
      color: $light2
    body,#content:has(#near-me)
      background-color: $dark5!important
    #content
      background-color: $dark4!important
    canvas
      background-color: $dark5!important

    a
      &:link, &:visited
        color: $blue2
        text-decoration: none
        text-shadow: none
        transition-duration: 0s
      &:hover, &:active, &:focus
        color: darken($blue2, 5%)
        transform: scale(1.02)
      &:active
        transform: scale(1)
        transition: scale 0s

    div#flash-messages:has(.flash)
      box-shadow: none
      .flash
        box-shadow: none
        text-align: center
        color: $light1
      .notice
        background-color: $green
      .alert
        background-color: $red!important

    main#content
      background-color: $dark5
      h2.context
        color: $light2
        border: solid 1px $blue4
        border-radius: 1em
        margin: 3px 0.4em
        padding-inline: 0.7em
        padding-block: 0.5em
        font-size: medium
        font-weight: bold
        letter-spacing: 0.2px
        box-shadow: none
        background-color: $blue4
        &:hover
          color: $light2
          background-color: lighten($blue4, 5%)
        .fa-times
          color: $red
          &:hover
            color: lighten($red, 5%)
      #near-me ul.near-me
        background-color: lighten($dark3, 10%)
        a
          color: $light2
      .simple-calendar table.table
        color: $light2
        tr
          background-color: $dark4
          color: lighten($light2, 10%)
          th
            padding-block: 0.2%
        tbody tr td.day:has(div.day_number, ul.events, li.event)
          color: $light1
          background-color: $dark3
          &:hover
            background-color: lighten($dark3, 2%)
          .day_number
            color: $light2
          ul.events li.event
            a
              &:link
                color: darken($light2, 5%)
              &:visited
                color: darken($light2, 8%)
          &.past
            a:has(strong)
              &:link, &:visited
                color: darken($light3, 50%)!important
            .day_number
              color: $dark1
          &.today
            border-top: 4px solid $blue3!important
            background-color: lighten($dark3, 4%)
            &:hover
              border-top: 4px solid darken($blue3, 10%)!important
              background-color: lighten($dark3, 5%)
            &:hover .day_number
              color: darken($blue3, 10%)
            .day_number
              color: $blue3
          &.future
            border-color: $blue2
          &.prev-month, &.next-month
            background-color: $dark4
            .day_number
              color: lighten($dark4, 7%)

      form
        label
          color: $light3
        .field
          box-shadow: none
          border-bottom: 1px solid $dark5
        input, textarea
          color: $light2!important
          background-color: lighten($dark4, 4%)!important
          &:focus
            box-shadow: $darkshadow
            border-color: transparent
          &:hover, &:checked
            box-shadow: $darkshadow
            color: $light2
            background: $dark3
            outline: 1px rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px!important
        input[type="radio"]:not(.kind input[type="radio"], .locality input[type='radio'], .rule input[type='radio']) + label
          box-shadow: $darkshadow!important
          background-color: lighten($dark4, 4%)!important
          color: $light3
          &:hover span
            color: $light1!important
            background-color: lighten($dark4, 5%)!important

      div.actions input[type="submit"], a.button, .actions > button
        color: $light2
        border: solid 1px $blue4
        box-shadow: none
        background-color: $blue4
        &:hover
          color: $light4
          background-color: $blue5
          position: relative
          bottom: 1.5px
          filter: brightness(1.5)
          -webkit-filter: brightness(1.5)
        &:active
          bottom: 0
          transition: bottom 0s

      table.list
        th, td
          color: $light3
        thead
          background-color: $dark4
        tbody
          tr:nth-child(odd)
            background-color: lighten($dark4, 7%)
          tr:nth-child(even)
            background-color: $dark3
        .links
          color: $light3

      fieldset legend
        color: $light3
        background-color: $dark4
        border: 1px solid lighten($dark4, 5%)
        padding: 5px

      details
        box-shadow: none!important
        summary
          color: $light3
          background-color: $dark4
          border: none
          &:hover
            color: darken($blue2, 5%)
            transform: scale(1.02)
          &:active
            transform: scale(1)
            transition: scale 0s

    div.tagsinput
      span.tag
        background-color: lighten($dark3, 4%)
        border-color: $dark3
        color: $light3!important
        a
          color: $red
          &:hover
            color: lighten($red, 5%)
            font-weight: bold
      input, .ui-autocomplete-input
        border: solid .25em $dark4 !important
        background-color: black
        &:focus
          border-color: $dark1 !important

    ul.ui-autocomplete li
      box-shadow: none
      border-color: $dark1
      background-color: $dark1
      .ui-state-active
        background-color: $dark2
