@import variables

.calendar-heading
  font-size: larger
  a
    &:first-child, &:last-child
      padding: 0 0.3em

em.locality.fa
  color: gray

strong.city:after, em.city:after
  content: ':'
  margin-left: 0.25em

.calendar-heading, .month
  text-transform: capitalize
  .calendar-title
    display: inline
    font-size: 1em

body.events.index table
  width: 100%
  // So we can ellipse past events
  table-layout: fixed
  border-spacing: 1px
  tr
    th
      text-transform: capitalize
    td
      height: 4.8em
      padding: 1px
      position: relative
      vertical-align: top
      padding-inline: 0.2%
      background-color: #A1C3E7
      &.past .event
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        &:hover
          white-space: initial
      &.past .day_number
        color: #444
      &.today
        border-top: 4px solid $blue3!important
        .day_number
          color: $blue3
      &.today, &.future
        background-color: #C6E5FF
      &.prev-month, &.next-month
        background-color: #ededed
        li
          color: #555
        .event
          a:link, a:visited
            color: #444

      .day_number
        float: left
        color: #111
        font-size: small
        font-weight: bolder
        padding-left: 0.05%
        letter-spacing: 2px

      ul
        clear: left
        margin: 0
        padding: 0
        li
          color: #444
          margin: 0
          padding: 0
          em.fa.fa-globe
            color: red
            font-size: smaller

        .event
          padding-left: 0.2em
          margin-inline: 5%
          img
            // For the LEF icon
            vertical-align: middle
          a:link, a:visited
            color: #111
            font-size: smaller
            &:hover
              color: black
              text-decoration: underline

.links
  float: right

.fa-rss
  color: darkorange

a#banner
  float: left

#advises
  width: 60em
  border: 1px solid #FFB578
  border-radius: 0.2em
  padding-left: 10px
  padding-right: 10px
  background-color: #ffe0c7
  & > *:first-child
    font-size: 1.9em
    font-weight: normal
    &:before
      content: '🛈 '
  a
    color: #8F4900

/* Display in events list */
article.event
  box-shadow: -1em 1em 1em -1em $highlight
  margin-left: 1em
  padding-left: 1em
  padding-bottom: 0.4em
  border-bottom-left-radius: 1em
