@import font-awesome
@import variables

body.mce-content-body
  margin: 0
  border: none
  padding: 1px 1%
  font-size: inherit
  min-height: 100%

.helper p
  color: #555
  text-align: right
  margin-top: 0
  margin-bottom: 0

.field
  color: #666
  border: $border
  display: flex
  flex-wrap: wrap
  box-shadow: $shadow
  align-items: center
  border-radius: $radius
  & > label, .field_with_errors > label
    width: 10em
    margin: 0
    padding: 0.8em
    flex-grow: 0
    text-align: right
    padding-left: 0
  .field_with_errors:first-child
    flex-grow: 0
    flex-basis: 10em
    text-align: right
    margin-left: 0
    margin-right: 0
  &.description .field_with_errors:last-child, .field_with_errors:last-child > *
    width: 100%
  .helper
    color: #888
    padding: 0.8em
    font-style: italic
    margin-left: 0
  input, textarea, div.tagsinput, .field_with_errors:last-child, .field_with_errors:last-child > *, & > div
    flex-grow: 1
    &[type=number], &[type=checkbox]
      flex-grow: unset
      margin-left: 0
      margin-right: 0
  select
    margin-left: 0
    margin-right: 0

.field[title]
  position: relative

.field[title]:after
  @extend .far
  top: 0.4em
  right: 0.4em
  content: fa-content($fa-var-question-circle)
  position: absolute

.tox .tox-edit-area::before
  border: solid 0.25em #A0D0FF !important
.tox-tinymce
  border: none !important

input, textarea, select, div.tagsinput, .ui-autocomplete-input
  color: black
  border: solid 0.25em transparent
  outline: none
  padding: 0.25em
  font-size: inherit
  font-family: inherit
  background-color: transparent
  &:focus
    border-color: #A0D0FF
  &[type=radio]
    box-shadow: none
  &[type=radio] + label
    border: none

input[type=submit], a.button, .actions > button
  color: white
  border: solid 1px $blueish
  cursor: pointer
  margin: 3px 0.4em
  padding: 0.25em
  font-size: medium
  box-shadow: $shadow
  font-weight: bolder
  font-family: inherit
  border-radius: 1em
  padding-block: 0.5em
  padding-inline: 0.7em
  letter-spacing: 0.2px
  background-color: $blueish
  &:hover
    color: black
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    background-color: transparent
  &:active
    box-shadow: none
  .fa-check
    color: $green

.field_with_errors
  display: inline-flex
  input, textarea, select, a.button
    padding: .6em
    background-color: pink

.radios
  margin-left: 0
  [type=radio]
    opacity: 0
    position: absolute
  label
    color: #258
    cursor: pointer
    padding: 0.5em
    display: inline-block
    &:hover
      color: #222
      box-shadow: 0 0 0 4px gray
  [type=radio]:checked + label
    color: black
    box-shadow: 0 0 0 6px gray
  [type=radio]:invalid + label
    box-shadow: 0 0 1px tomato

.actions
  text-align: center
  input
    font-size: x-large
  li
    display: inline

.field, .list, dl
  &.required
    & > label, & .field_with_errors > label
      &:after
        color: darkred
        content: '*'
        font-size: smaller
        margin-left: 0.4em
  & > label:before, & .field_with_errors > label:before, th:before, th a:before
    margin-right: 0.4em
    @extend .fa
  &.login label:before
    content: fa-content($fa-var-sign-in-alt)
  &.password label:before
    content: fa-content($fa-var-unlock)
  &.title label:before
    content: fa-content($fa-var-newspaper)
  &.start_time label:before
    content: fa-content($fa-var-toggle-on)
  &.end_time label:before
    content: fa-content($fa-var-toggle-off)
  &.repeat label:before
    content: fa-content($fa-var-redo)
  &.rule > label:before
    content: fa-content($fa-var-calculator)
  &.description label:before
    content: fa-content($fa-var-edit)
  &.place_name label:before
    content: fa-content($fa-var-map-pin)
  &.address label:before
    content: fa-content($fa-var-map-marker)
  &.city label:before, th.city a:before
    content: fa-content($fa-var-building)
  &.department label:before, th.department a:before
    content: fa-content($fa-var-puzzle-piece)
  &.region > label:before, th.region a:before
    content: fa-content($fa-var-shield-alt)
  &.locality > label:before
    content: fa-content($fa-var-expand)
  &.contact label:before
    content: fa-content($fa-var-envelope)
  &.submitter label:before
    content: fa-content($fa-var-envelope)
  &.url label:before, th.url:before
    content: fa-content($fa-var-external-link-alt)
  &.diaspora label:after, td.diaspora em:before, dt.diaspora em:before
    content: "*"
    font-size: 24px
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
    line-height: 0
  &.tag label:before, th.tag a:before
    content: fa-content($fa-var-tag)
  &.tags label:before, th.tags a:before
    content: fa-content($fa-var-tags)
  &.active label:before
    content: fa-content($fa-var-heartbeat)
  &.reason label:before
    content: fa-content($fa-var-comment)

  &.kind > label:before, th.kind:before
    content: fa-content($fa-var-cubes)
  &.feed label:before, th.feed:before
    content: fa-content($fa-var-rss)

  &.future label:before
    content: fa-content($fa-var-backward)
  &.period_year label:before
    content: fa-content($fa-var-fast-backward)
  &.period_week label:before
    content: fa-content($fa-var-step-backward)
  &.near_location label:before
    content: fa-content($fa-var-map-pin)
  &.near_distance label:before
    content: fa-content($fa-var-arrows-alt-h)
  &.iframe label:before
    content: fa-content($fa-var-arrows-alt)
