@import font-awesome
@import variables

.quantity
  text-align: right !important
  white-space: nowrap

table
  border-spacing: 1px
  thead th
    font-weight: normal

  &.list
    tbody
      tr:nth-child(odd)
        background-color: #def
      tr:nth-child(even)
        background-color: #eee
      tr.view
        cursor: pointer
        &:hover
          background-color: lightgrey
    td
      padding: 0.2em
      text-align: left
      &.kind, &.updated_at
        text-align: center

    tfoot a[rel=next]
      font-size: larger
      font-weight: bolder
      &:before, &:after
        margin: .5em
        @extend .fa
        content: fa-content($fa-var-arrow-circle-down)

dl
  dt
    clear: left
    float: left
    padding: 0.2em 1em
    min-width: 12em
    text-align: right
  dd
    padding: 0.2em 1em
    text-align: left
    &.quantity
      padding-right: 16em
    h3
      display: inline

.sidebar dl dt
  min-width: 5em

.edit_link:link, .delete_link:link
  display: none
