.field.region
  display: block
  text-align: left
  & > label
    display: inline-block
  .radios
    z-index: 100
    display: inline-block
    position: absolute
    margin-top: .3em
    box-shadow: 0 0 0.1em black
    background-color: white
    transition-duration: unset
    & > .region:first-child label
      color: gray
      box-shadow: none
    label
      display: none
      min-width: 12em
    input:checked + label,
    .region:focus-within label,
    &:focus-within .region:hover label,
    &:focus-within > .region > input + label
      display: inline-block
    .region:hover .radios
      z-index: 1000

// Override for the missing quebec flag!
.flag-icon-ca-qc
  background-image: image-url(regions/CA-QC)
.flag-icon-internet:before
  content: '🕸'
.flag-icon-other:before
  content: '🌐'
