%h2
  %em.fa.fa-rss
  = title t '.title'

%p= t '.quick'

%table.list
  %thead
    %tr
      %th= t :all, scope: 'activerecord.attributes.region.name_values'
      %th= link_to 'RSS', events_path(format: :rss)
      %th
        = link_to :webcal,
                  events_path(protocol: :webcal, format: :ics, only_path: false)
      %th
        = link_to :iCal,
                  events_path(format: :ics, only_path: false)
      %th
        = link_to :GeoJSON,
                  maps_path(format: :json, only_path: false)

  %tbody
    - @regions.find_each do |region|
      %tr
        %td
          = link_to events_path(region: region.id) do
            = t(region.code.presence, scope: :countries, default: region)
        %td= link_to 'RSS', events_path(format: :rss, region: region.id)
        %td
          = link_to :webcal,
                    events_path(protocol: :webcal, format: :ics,
                                region: region.id, only_path: false)
        %td
          = link_to :iCal,
                    events_path(format: :ics, region: region.id,
                                only_path: false)
        %td
          = link_to :GeoJSON,
                    maps_path(format: :json, region: region.id,
                              only_path: false)

:markdown
  #{t '.help',
      tag: events_path(format: :rss, tag: 'toulibre', only_path: false),
      daylimit: events_path(format: :ics, daylimit: '42', only_path: false),
      near: events_path(format: :rss,
                        near: { location: 'Rennes', distance: 20 },
                        only_path: false)}
