- versions = (@event || @orga).versions

- if versions.empty?
  %p No history

- else
  %dl
    %dt When
    %dd= l versions.last.created_at, format: :at
    %dt What
    %dd
      version
      = versions.length

    - who = versions.last.whodunnit
    - if who.present?
      %dt Who
      %dd= User.find(versions.last.whodunnit).email

    - if versions.length.to_i > 1
      %hr
      - if params[:version].to_i > 1 || !params[:version]
        %dt
        %dd= link_to t('active_admin.previous'),
          { version: (params[:version] || versions.length).to_i - 1 }

    - if params[:version]
      %dl
        %dt When:
        %dd= l versions[(params[:version].to_i - 1)].created_at, format: :at

        %dt What:
        %dd
          version
          = params[:version]

        - who = versions[(params[:version].to_i - 1)].whodunnit
        - if who.present?
          %dt Who:
          %dd= User.find(who).email

        %dt
        %dd= link_to 'Go to current version'
